body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  
  section {
    padding: 2em;
  }
  
  h2 {
    border-bottom: 2px solid #333;
  }

  #experience ul {
    margin-top: -0.5em;
    margin-bottom: 2em;
  }

  .title {
    display:block;
    font-size: 1.3em;
    margin-bottom: 0.25em;
    font-weight: bold;
  }
  .position {
    display:block;
    margin-bottom: 0.25em;
    font-weight: bold;
  }
  .detail {
    display:block;
    font-style: italic;
  }
  
  #contact a {
    color:aqua;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
  }
  